  <div class="header-tab" id="app_header">
    <div class="Swipe-tab Swipe-tab_2 f-cb">
    	<a href="javascirpt:;" v-on:click="tabSwitch(0)" class="{{ tab_1_class }}"></a>
    	<a href="javascirpt:;" v-on:click="tabSwitch(1)" class="{{ tab_2_class }}"></a>
        <i style="width: {{index_header_tab_width}}px; transition-duration: {{ header_duration }}s;transform: translate3d({{ header_position }}px,0px,0px);"></i>
    </div>
  	<em class="header-user"></em>
  	<em class="header-checkin"></em>
  </div>