<section class="channel-group">
	<div class="channel-group__header">
       <h2 class="channel-group__title">限时免费</h2>
	</div>
	<ul class="book-table f-cb">
		<li v-for="item in free">
			<div class="u-book -vertical">
				<div class="book-cover">
				 <a href="/book?id=18218">
				 	<img alt="{{item.title}}" v-bind:src="item.data.cover">
				 </a>
					<div class="u-tagRT -freefiction"></div>
				</div>
				<div class="book-info">
				<h3 class="book-info_title">{{item.data.title}}</h3>
				</div>	
			</div>
		</li>
	</ul>
	<a class="channel-group__footer">更多限免佳作>></a>
</section>