<section class="top-home">
	<a href="/search">
		<div class="top-home__search">输入书名|作者|关键字</div>
	</a>
	<div class="slider-banner">
		<a href="/book?id=18218">
			<img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01oZKE6OrLT/ctwGKRr2mpo876.jpg">
		</a>
	</div>
	<ul class="top-home__btn">
		<li>
			<a href="/male">
				<img class="top-home__icon" src="http://image.read.duokan.com/mfsv2/download/s010/p01lq7mbkaEJ/OGlv1em8buXDgB.png">
			</a>
			<p class="top-home__desc">男生</p>
		</li>
		<li>
			<a href="/female">
				<img class="top-home__icon" src="http://image.read.duokan.com/mfsv2/download/s010/p01LWZmXGCpy/aSrSq6Llgt9PqE.png">
			</a>
			<p class="top-home__desc">女生</p>
		</li>
		<li>
			<a href="/category">
				<img class="top-home__icon" src="http://image.read.duokan.com/mfsv2/download/s010/p01pz5NtyRI0/2ENONnvOg23NXM.png">
			</a>
			<p class="top-home__desc">分类</p>
		</li>
		<li>
			<a href="/rank">
				<img class="top-home__icon" src="http://image.read.duokan.com/mfsv2/download/s010/p010kK7M5VyH/8kPz9nKvRXyu1k.png">
			</a>
			<p class="top-home__desc">排行</p>
		</li>
	</ul>
</section>